:root{
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
}

/* font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif; */

*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

body{
  font-size: 15px;

}

.hidden{
  display: none;
}

.nav-mobile-background{
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}


/**********************
          Hero
***********************/

.hero{
  overflow: hidden;
  background-image: url(./images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100vh;
}

.hero-text{
  margin: 0 auto;
  width: 90%;
  margin-top: 13rem;
}

.hero-text h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  border: white solid 1px;
  padding: 1rem 2rem;
  max-width: 650px;
}

/**********************
      Navigation
***********************/

.nav-top{
  font-family: 'Alata', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 8rem;
}

.nav-top ul li{
  animation: nav-fade-in .2s ease-in-out;
  list-style: none;
  margin-top: 2rem;
}

nav ul li a{
  display: inline-block;
}

nav ul li a::after{
  display: block;
  content: "";
  border-bottom: solid 2px white;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

nav ul li a:hover::after{
  transform: scaleX(1);
}


@keyframes nav-fade-in {
  0%{
    transform: translateX(-400px);
  }

  100%{
    transform: translate(0px);
  }
  
}

nav a{
  text-decoration: none;
  color: white;
}

.nav-container{
  position: relative;
  padding: 2rem 2rem;
  z-index: 3;
}

.nav-img-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-image{
  height: 1.3rem;
}

.nav-hamburger{
  width: auto;
  height: .8rem;
}

.virtual-img-cont img{
  max-height:100%; 
  max-width:100%;
}
.virtual-img-cont{
  width: 90%;
  margin: 0 auto;
}

/**********************
      First panel
***********************/

.first-panel{
  margin-top: 8rem;
}

.first-panel-text-cont{
  margin: 0 auto;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;
  padding: 3rem;
}

.first-panel-text-cont h1{
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.7rem;
  letter-spacing: 3px;
}

.first-panel-text-cont p{
  margin-top: 1rem;
  color: var(--Very-Dark-Gray);
  font-weight: 300;
  line-height: 1.5em;
  font-size: .9rem;
}

/**********************
      Second panel
***********************/

.second-panel{
  width: 90%;
  margin: 0 auto 4rem;
  text-align: center;
}

.second-panel-title{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 3rem;
}

.night-cont{
  background:linear-gradient( to right,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) ),url(./images/mobile/image-night-arcade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.night-cont:hover{
  background:linear-gradient( to right,rgb(255, 255, 255, .85), rgba(255, 255, 255, .85) ),url(./images/mobile/image-night-arcade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.night-cont:hover > *{
  color: black
}

.earth-cont{
  background:linear-gradient( to right,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) ),url(./images/mobile/image-deep-earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.earth-cont:hover{
  background:linear-gradient( to right,rgb(255, 255, 255, .85), rgba(255, 255, 255, .85) ),url(./images/mobile/image-deep-earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.earth-cont:hover > *{
  color: black
}

.soccer-cont{
  background:linear-gradient( to right,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) ),url(./images/mobile/image-soccer-team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.soccer-cont:hover{
  background:linear-gradient( to right,rgb(255, 255, 255, .85), rgba(255, 255, 255, .85) ),url(./images/mobile/image-soccer-team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.soccer-cont:hover > *{
  color: black
}

.car-cont{
  background:linear-gradient( to right,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) ),url(./images/mobile/image-grid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.car-cont:hover{
  background:linear-gradient( to right,rgb(255, 255, 255, .85), rgba(255, 255, 255, .85) ),url(./images/mobile/image-grid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.car-cont:hover > *{
  color: black
}

.above-cont{
  background:linear-gradient( to right,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) ),url(./images/mobile/image-from-above.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.above-cont:hover{
  background:linear-gradient( to right,rgb(255, 255, 255, .85), rgba(255, 255, 255, .85) ),url(./images/mobile/image-from-above.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.above-cont:hover > *{
  color: black
}

.borealis-cont{
  background:linear-gradient( to right,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) ),url(./images/mobile/image-pocket-borealis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.borealis-cont:hover{
  background:linear-gradient( to right,rgb(255, 255, 255, .85), rgba(255, 255, 255, .85) ),url(./images/mobile/image-pocket-borealis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.borealis-cont:hover > *{
  color: black
}

.curiosity-cont{
  background:linear-gradient( to right,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) ),url(./images/mobile/image-curiosity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.curiosity-cont:hover{
  background:linear-gradient( to right,rgb(255, 255, 255, .85), rgba(255, 255, 255, .85) ),url(./images/mobile/image-curiosity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.curiosity-cont:hover > *{
  color: black
}

.fisheye-cont{
  background:linear-gradient( to right,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) ),url(./images/mobile/image-fisheye.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fisheye-cont:hover{
  background:linear-gradient( to right,rgb(255, 255, 255, .85), rgba(255, 255, 255, .85) ),url(./images/mobile/image-fisheye.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.fisheye-cont:hover > *{
  color: black
}

.inner-text-cont{
  height: 130px;
  margin-top: 1rem;
}

.inner-text{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: left;
  padding: 3.4rem 0 0 1rem;
  color: white;
  text-transform: uppercase;
}

.second-panel-button{
  font-size: 1.1rem;
  font-family: 'Alata', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: none;
  border: 1px solid black;
  padding:  .5rem 3rem;
  margin-top: 2rem;
}

.second-panel-button:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}

.footer-end{
  padding-top: 3rem;
  background-color: black;
  text-align: center;
  padding-bottom: 2rem;
}

.footer-end nav{
  margin: 2rem 0 3rem;
}

.footer-end nav ul li{
  margin-top: 1rem;
}

.footer-logo{
  height: 20px;
}

.social-cont div{
  margin: 0 .5rem;
  padding-bottom: 5px;
  display: inline-block;
}

.social-cont div::after{
  margin-top: 5px;
  display: block;
  content: "";
  border-bottom: solid 3px white;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.social-cont div:hover::after{
  transform: scaleX(1);
}

.copyright-text{
  color: var(--Very-Dark-Gray);
  margin: 1rem 0;
}



@media screen and (min-width:500px){
  .hero{
    background-image: url(./images/desktop/image-hero.jpg);
  } 
}


@media screen and (min-width:800px){

  .hero-text{
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem 2rem;
    width: 100%;
    margin-top: 8rem;
  }
  
  .hero-text h1{
    font-size: 4rem;
    padding: 2rem 2rem;
  } 
  

/**********************
      Navigation
***********************/
  .nav-image{
    height: 2rem;
  }
  
  .nav-hamburger{
    display: none;
  }

  .nav-top{
    margin-top: 0;
  }

  .nav-top ul{
    display: flex;
    font-size: 1rem;
    gap: 1rem;
  }

  .nav-top ul li{
    margin-top: 0;
  }

  .nav-img-container{
    display: block;
  }

  .nav-container{
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 3rem auto 0;
  }

  .nav-top.hidden{
    display: block;
  }

  @keyframes nav-fade-in {
    0%{
      transform: translatey(-400px);
    }
  
    100%{
      transform: translatey(0px);
    }
    
  }
  
}
